@use '@tectus/styles/helpers' as *;

.google-map {
  width: 100%;
  height: var(--google-map-height);
  border-radius: 10px;

  @include respond-to(tablet-lg) {
    height: var(--google-map-height-tablet-lg);
  }
}
