.global-alert {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 65rem;
  padding: 1rem;
  display: flex;
  justify-content: center;

  transform: translateX(-50%);
  margin-left: 50%;
  opacity: 1;

  transition: all 0.3s ease-in-out;

  &--hidden {
    // display: none;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -100%);
  }
}
