.ui-table {
  width: 100%;
  overflow-x: auto;
  > table {
    width: 100%;
  }

  &__th,
  &__td {
    font-size: 1rem;
    text-align: left;
    height: 2.5rem;
    padding: 0 1rem;
  }

  &__th {
    background-color: #d4af37;
    color: #333333;

    &--highlighted {
      background-color: #00cccc;
    }
  }

  &__td {
    background-color: transparentize(#fff, 0.95);
    color: #cccccc;
  }
}
