.ui-table {
  width: 100%;
  overflow-x: auto;
  > table {
    width: 100%;
  }

  &__th,
  &__td {
    font-size: 1rem;
    text-align: left;
    height: 2.5rem;
    padding: 0 1rem;
  }

  &__th {
    background-color: var(--var-ui-main-theme, #1d6bff);
    color: #333333;

    &--highlighted {
      background-color: #00cccc;
    }
  }

  &__td {
    background-color: rgba(#fff, 0.05);
    color: #cccccc;
  }

  &__message {
    text-align: center;
    padding: 1rem;
  }
}
