@use '@tectus/styles/helpers' as *;

.signup-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 4rem;

  &__banner {
    height: 45vh;
    display: flex;
    align-items: flex-end;
  }

  &__form {
    @extend %flex-center-column;
    gap: 1.5rem;
    width: 17.5rem;
  }
}
