@use '@tectus/styles/helpers' as *;

.header {
  @extend %flex-center;
  height: 7.5rem;
  width: 100%;
  background-color: #111111;

  &__container {
    @extend %flex-center;
    justify-content: space-between;
  }

  &__logo {
    width: 5rem;
    height: 5rem;
  }
}
