.dashboard-card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 124px;

  &__details {
    display: flex;
    gap: 0.25rem;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  &__earnings {
    font-size: 32px !important;
    color: #00ff66;
    text-align: center;
  }
}
