@use '@tectus/styles/helpers' as *;

.submit-info-page {
  min-height: 100vh;

  @extend %flex-center-column;
  gap: 2rem;

  &__form-scroll {
    height: calc(100vh - 32rem);
    overflow-y: auto;
    width: 100%;
  }

  &__form {
    @extend %flex-center-column;
    gap: 1rem;
    max-width: 22rem;
    margin: auto;
  }

  // Override for PageBanner
  .page-banner {
    gap: 1rem;
  }
}
