@use '@tectus/styles/helpers' as *;

.create-profile-page {
  min-height: calc(100vh - 7.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  &__form {
    @extend %flex-center-column;
    gap: 1.5rem;
    width: 19.75rem;
  }
}
