@use '@tectus/styles/helpers' as *;

.reset-password-page {
  min-height: 100vh;

  @extend %flex-center-column;
  gap: 5rem;

  &__form {
    @extend %flex-center-column;
    gap: 1.5rem;
    width: 100%;
    max-width: 42rem;
  }

  &__submit {
    margin-top: 5rem;
  }
}
