.alert {
  font-family: var(--font-fam);
  background-color: #ddd;
  padding: 1.5rem;
  width: 100%;
  font-size: 1.6rem;
  border-radius: 0.25em;
  border: 1px solid;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  color: #333;

  &__close-button {
    margin-left: auto;
    cursor: pointer;
  }

  &--info {
    background-color: var(--color-info-light);
    border-color: var(--color-info-light);

    .alert__icon {
      color: var(--color-info-dark);
    }

    &.alert {
      &--filled {
        background-color: var(--color-info);
        border-color: var(--color-info);
        color: var(--color-info-light);

        .alert__icon {
          color: var(--color-info-light);
        }
      }

      &--outlined {
        background-color: transparent;
        border-color: var(--color-info-dark);
        color: var(--color-info-dark);
      }
    }
  }

  &--warning {
    background-color: var(--color-warning-light);
    border-color: var(--color-warning-light);

    .alert__icon {
      color: var(--color-warning-dark);
    }

    &.alert {
      &--filled {
        background-color: var(--color-warning);
        border-color: var(--color-warning);
        color: var(--color-warning-light);

        .alert__icon {
          color: var(--color-warning-light);
        }
      }

      &--outlined {
        background-color: transparent;
        border-color: var(--color-warning-dark);
        color: var(--color-warning-dark);
      }
    }
  }

  &--danger {
    background-color: var(--color-danger-light);
    border-color: var(--color-danger-light);

    .alert__icon {
      color: var(--color-danger-dark);
    }

    &.alert {
      &--filled {
        background-color: var(--color-danger);
        border-color: var(--color-danger);
        color: var(--color-danger-light);

        .alert__icon {
          color: var(--color-danger-light);
        }
      }

      &--outlined {
        background-color: transparent;
        border-color: var(--color-danger-dark);
        color: var(--color-danger-dark);
      }
    }
  }

  &--success {
    background-color: var(--color-success-light);
    border-color: var(--color-success-light);

    .alert__icon {
      color: var(--color-success-dark);
    }

    &.alert {
      &--filled {
        background-color: var(--color-success);
        border-color: var(--color-success);
        color: var(--color-success-light);

        .alert__icon {
          color: var(--color-success-light);
        }
      }

      &--outlined {
        background-color: transparent;
        border-color: var(--color-success-dark);
        color: var(--color-success-dark);
      }
    }
  }
}
