@use '@tectus/styles/helpers' as *;

.reset-password-page {
  min-height: 100vh;

  @extend %flex-center-column;
  gap: 4rem;

  &__form {
    @extend %flex-center-column;
    gap: 1.5rem;
    width: 17.5rem;
  }
}
