@use '@tectus/styles/helpers' as *;

html {
  overflow-y: overlay;

  font-size: var(--base-font-size, 16px);
  transition: font-size 0.3s ease; /* smooth transition */

  @media (max-height: 900px) {
    font-size: calc(var(--base-font-size, 16px) - 2px);
  }

  @media (max-height: 750px) {
    font-size: calc(var(--base-font-size, 16px) - 4px);
  }

  @media (max-height: 600px) {
    font-size: calc(var(--base-font-size, 16px) - 6px);
  }

  @media (max-height: 480px) {
    font-size: calc(var(--base-font-size, 16px) - 8px);
  }
}

/* ===== Light Mode Scrollbar ===== */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* ===== Dark Mode Scrollbar ===== */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
}

/* Firefox support */
:root {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;

  --var-main-theme: #d4af37;
  --var-secondary-theme: #00cccc;
  --var-ui-main-theme: #d4af37;
}

@media (prefers-color-scheme: dark) {
  :root {
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
  }
}
