@use '@tectus/styles/helpers' as *;

html,
body {
  background-color: var(--background-primary);
  font-size: 50% !important;

  // @include respond-to(tablet-lg) {
  //   font-size: 50%;
  // }

  @include respond-to(desktop) {
    font-size: 45% !important;
  }
}
