@use '@tectus/styles/helpers' as *;

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button {
  font-family: var(--font-fam);
  font-size: 2.4rem;
  font-weight: 700;
  height: 6rem;
  min-width: 18rem; // adjusted from Figma's 21rem
  padding: 0 2rem;
  border-radius: 1rem;
  border: 2px solid;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    color 0.2s ease;

  position: relative;

  &--loading {
    pointer-events: none;
    user-select: none;
  }

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @extend %flex-center;
    opacity: 0.25;

    svg {
      animation: rotate 0.5s linear infinite;
    }
  }

  &__content--loading {
    opacity: 0.025;
  }

  // Contained variant
  &--contained {
    background-color: var(--button-primary-background);
    color: var(--button-primary-text);
    border-color: var(--button-primary-background);

    &:hover:not(.button--disabled) {
      background-color: var(--button-primary-background-darken);
      border-color: var(--button-primary-background-darken);
    }
  }

  // Outlined variant
  &--outlined {
    background-color: var(--button-primary-text);
    color: var(--button-primary-background);
    border-color: var(--button-primary-background);

    &:hover:not(.button--disabled) {
      color: var(--button-primary-background-darken);
      border-color: var(--button-primary-background-darken);
    }

    &.button--disabled {
      background-color: var(--button-primary-text);
    }
  }

  &--disabled {
    pointer-events: none;
    background-color: var(--color-disabled-bg);
    color: var(--color-disabled-text);
    border-color: var(--color-disabled-border);
  }
}
