@use '@tectus/styles/helpers' as *;

.signup-page {
  min-height: 100vh;

  @extend %flex-center-column;
  gap: 5rem;

  &__form {
    @extend %flex-center-column;
    gap: 1.5rem;
  }

  &__submit-button {
    margin-top: 5rem;
  }
}
