@use 'sass:map';

$breakpoints: (
  mobile: 30rem,
  //480px,
  // mobile phones
  tablet-sm: 37.5rem,
  //600px,
  // small tablets (7" portrait)
  tablet-md: 48rem,
  //768px,
  // medium tablets (8"–10" portrait)
  tablet-lg: 56.25rem,
  //900px,
  // large tablets (landscape)
  laptop: 64rem,
  //1024px,
  // small laptops
  desktop: 80rem,
  //1280px,
  // standard desktops
  desktop-lg: 96rem, //1536px, // large desktops / wide screens
);

@mixin respond-to($breakpoint) {
  $value: map.get($breakpoints, $breakpoint);

  @if $value {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found in \$breakpoints map.";
  }
}
