@use 'sass:map';

$breakpoints: (
  mobile: 480px,
  // mobile phones
  tablet-sm: 600px,
  // small tablets (7" portrait)
  tablet-md: 768px,
  // medium tablets (8"–10" portrait)
  tablet-lg: 900px,
  // large tablets (landscape)
  laptop: 1024px,
  // small laptops
  desktop: 1280px,
  // standard desktops
  desktop-lg: 1536px, // large desktops / wide screens
);

@mixin respond-to($breakpoint) {
  $value: map.get($breakpoints, $breakpoint);

  @if $value {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found in \$breakpoints map.";
  }
}
