@use '@tectus/styles/helpers' as *;

.job-detail-page {
  &__container {
    padding: 1rem 0;

    @include respond-to(tablet-lg) {
      padding: 3rem 0;
    }
  }
  &__text {
    text-align: center;
    margin-top: 1rem !important;
  }
}
